:root {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji';
}

* {
    margin: 0;
    padding: 0;
}

article {
    --article-pad: 2rem;
    max-width: calc(44em + 2em);
    padding: var(--article-pad);
    margin: auto;
}

article > * {
    font-size: 1.2em;
    line-height: 1.6em;
}

h1 {
    font-size: 1.7em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
}

h2 {
    font-size: 1.5em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
}

p {
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
}

//TODO: find correct padding
ul {
    padding-left: 1.5em;
}

figure {
    font-size: 1rem;
    text-align: center;
    margin: 0.3em;
}

#complexity-comparisons {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

    figure {
        display: flex;
        flex-direction: column;

        //TODO: align figcaption to bottom of figure
    }
}
